@media screen and (max-width: 700px){
    body{
        height: 100dvh;
    }
    .container{
        height: 100dvh;
        .layer{
            .controls{
                P{
                    font-size: 24px;
                }
                .timer{
                    
                    p{
                        font-size: 16px;
                    }
                }
                .btns{
                    width: 50%;
                }
            }
        }
    }
}
