@media screen and (max-width: 700px){
    ::selection{
                -webkit-touch-callout:none;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
-webkit-tap-highlight-color:rgba(0,0,0,0);
    }
    body{
        height: 100dvh;
    }
    .container{
        height: 100%;
        .layer{
            .controls{
                P{
                    font-size: 24px;
                }
                .timer{
                    
                    p{
                        font-size: 16px;
                    }
                }
                .btns{
                    width: 50%;
                }
            }
        }
    }
}
